@model WebApplication1.Models.Daire

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Daire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blok)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blok)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaireNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaireNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
