@model IEnumerable<WebApplication1.Models.DaireAidat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Daire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ÖdemeTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ÖdenenTutar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AidatId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Daire.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ÖdemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ÖdenenTutar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AidatId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
